body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.pdf-container {
    text-align: center;
}

#pdf-viewer {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 16px;
}

#pdf-canvas {
    width: 100%;
    max-width: 800px;
}